/*------CSS page Index------*/

body
{
    background-color: #873e23;
    font-family: cursive;
}
a
{
    text-decoration: none;
    color: #f6c72c;
    cursor: pointer;
}
.ours_logo
{
    width: 18rem;
}
.navbox
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 5rem;
}
nav
{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 2rem 2rem 0 0;
    font-size: 2.5rem;
}
.main
{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 80rem;
}
.title
{
    text-align: center;
    font-size: 4rem;
    color: #f6c72c;
    margin-bottom: 4rem;
    margin-top: 2rem;
    text-shadow: 3px 3px 8px black;
}
.ours_link
{
    text-decoration: none;
    color: black;
    border: 3px solid black;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: beige;
    box-shadow: 3px 3px 8px black;
}
.ours_picture
{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 3rem;
    box-shadow: 3px 3px 3px grey;
}

/*------CSS page Produit------*/

.mainproduct
{
    margin: auto;
    display: flex;
    max-width: 32rem;
}
.choosecolor
{
    height: 2rem;
}
.colorsAdd
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.add
{
    border: 1px solid black;
    border-radius: 1rem;
    background-color: #873e23;
    padding: 0.5rem;
}

/*---------CSS page Panier--------*/

.votre_panier
{
    border: 1px solid beige;
    background-color: beige;
    border-radius: 4rem;
    box-shadow: 3px 3px 8px black;
    margin: 1rem;
}
.panier_h2
{
    margin-left: 2rem;
}
.grid_panier
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: white;
    margin: 2rem;
}
.p_panier
{
    text-align: center;
    margin: 1rem auto;
}
.info_panier
{
    text-align: center;
    margin-bottom: 2rem;
}
.grid_commande
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 2rem;
    gap: 1rem;
}
.flex_column
{
    display: flex;
    flex-direction: column;
}
.adresse_mail
{
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 3 / 5;
}
.adresse_domicile
{
    display: flex;
    flex-direction: column;
    grid-row: 2;
    grid-column: 1 / 3;
}
input
{
    height: 2rem;
    border-radius: 0.5rem;
}
.envoyer
{
    margin: 0 0 2rem 2rem;
    border-radius: 1rem;
    height: 2.5rem;
    font-family: cursive;
    font-size: 1rem;
    color: #f6c72c;
    background-color:  #873e23;
}

/*---------CSS page Confirmation de Commande--------*/

.confirmation
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid beige;
    background-color: beige;
    border-radius: 4rem;
    box-shadow: 3px 3px 8px black;
    margin: 1rem;
    padding: 2rem;
}
.confirm_h2
{
    margin-left: 2rem;
}
.flexcommand
{
    display: flex;
}
.commande
{
    text-align: center;
}
.commande_id
{
    display: flex;
    align-items: center;
}


@media all and (max-width: 770px)
{
    .main
    {
        grid-template-columns: 1fr 1fr;
    }
    .grid_commande
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
    "firstname lastname"
    "adresse_mail adresse_mail"
    "postal city"
    "adresse_domicile adresse_domicile";
    }
    .firstname { grid-area: firstname; }
    .lastname { grid-area: lastname; }
    .adresse_mail { grid-area: adresse_mail; }
    .postal { grid-area: postal; }
    .city { grid-area: city; }
    .adresse_domicile { grid-area: adresse_domicile; }
}

@media all and (max-width: 425px)
{
    .main
    {
        grid-template-columns: 1fr;
    }
    .navbox
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .ours_logo
    {
        align-items: center;
    }
    nav
    {
        align-items: center;
        padding: 0;
    }
    .grid_commande
    {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "firstname"
        "lastname"
        "adresse_mail"
        "postal"
        "city"
        "adresse_domicile"; 
    }
    .firstname { grid-area: firstname; }
    .lastname { grid-area: lastname; }
    .adresse_mail { grid-area: adresse_mail; }
    .postal { grid-area: postal; }
    .city { grid-area: city; }
    .adresse_domicile { grid-area: adresse_domicile; }
}